{
   "semi": true,

   "singleQuote": true,

   "trailingComma": "all",

   "tabWidth": 2,

   "printWidth": 80,

   "arrowParens": "always",

   "endOfLine": "cr",

   "bracketSpacing": true,

   "jsxSingleQuote": false,

   "proseWrap": "preserve",

   "overrides": [
      {
         "files": "*.json",

         "options": {
            "printWidth": 100
         }
      }
   ]
}
